<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes' />
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
      <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/pygment_trac.css">
      <!-- endbuild -->
  </head>
  <body ng-app="angularApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="wrapper" ng-controller="MainCtrl">
        <header>
            <h1>Pasing WLAN</h1>
            <p translate="SUB_HEADLINE"></p>
			<p><img ng-src="{{imgSrc}}" width="100px" fade-in /></p>
        </header>
        <section>
            <div mouseover="images/angular.png">
                <h1 translate="HEADING1"></h1>
                <p translate="PARA1"></p>
            </div>
            <div mouseover="images/yeoman.png">
                <h2>Headline 2</h2>
                <div ng-controller="MapCtrl">
                    <pre id='features'></pre>
                    <div id="map" style="height:500px"></div>

                    <pre>
                        <div ng-repeat="layer in layerList"><input type="checkbox" ng-click="toggleLayer('{{layer}}')"> {{layer}}</div>
                    </pre>
                    <div>
                        <input type="checkbox" ng-model="trackLockation" ng-click="toggleTrackLocation()"> Track Location, Speed: {{speed}}, Heading: {{heading}}, Heading (Sensor): {{headingSensor}}, Accuracy: {{accuracy}}
                    </div>
                    <button ng-click="updateLabels()">Update Labels</button>
                    <button ng-click="addGeojsonLayer({'name':'PasingWlan_BestLatLon'})">BestLatLon</button>
                    <button ng-click="addGeojsonLayer({'name':'PasingWlan_Sqlite'})">Sqlite</button>
                    <button ng-click="hexTopology(20, 960, 900)">Create Hexagon</button>
               </div>
            </div>
            <div mouseover="images/grunt.png">
                <h3>Headline 3</h3>
                <p ng-controller="VibrationsCtrl">
                    <input type="text" ng-model="duration">
                    <button ng-click="vibrate(duration)">
                        Click me (I'll vibrate for {{duration}} ms)
                    </button>
                </p>
            </div>
            <div mouseover="images/bower.png">
                <h4>Technology</h4>
                <p ng-controller="CordovaCtrl">
                  Cordova!
                </p>
            </div>
            <div mouseover="images/angular.png">
                <h5>Headline 5</h5>
                <p>
                    Lorem ipsizzle funky fresh i'm in the shizzle boom shackalack, consectetizzle adipiscing my shizz. Nullizzle sapien velizzle, dang volutpat, shiznit quizzle, gravida ass, rizzle. Pot get down get down tortor. Sed erizzle. Black go to hizzle dolizzle dapibizzle turpis fo shizzle my nizzle yo. Maurizzle pellentesque nibh et check it out. Bow wow wow check it out tortizzle. Pellentesque for sure rhoncizzle bow wow wow. In owned habitasse brizzle dictumst. Nizzle dapibizzle. Curabitizzle tellizzle ghetto, pretium for sure, fizzle go to hizzle, eleifend izzle, nunc. Dope suscipizzle. Integizzle boom shackalack velit ass purus.
                </p>
            </div>
            <div mouseover="images/grunt.png">
                <h6>Headline 6</h6>
                <p>
                    Lorem ipsizzle funky fresh i'm in the shizzle boom shackalack, consectetizzle adipiscing my shizz. Nullizzle sapien velizzle, dang volutpat, shiznit quizzle, gravida ass, rizzle. Pot get down get down tortor. Sed erizzle. Black go to hizzle dolizzle dapibizzle turpis fo shizzle my nizzle yo. Maurizzle pellentesque nibh et check it out. Bow wow wow check it out tortizzle. Pellentesque for sure rhoncizzle bow wow wow. In owned habitasse brizzle dictumst. Nizzle dapibizzle. Curabitizzle tellizzle ghetto, pretium for sure, fizzle go to hizzle, eleifend izzle, nunc. Dope suscipizzle. Integizzle boom shackalack velit ass purus.
                </p>
            </div>
        </section>
        <footer>
            <ul ng-controller="LangCtrl">
                <a href="" ng-click="changeLang('en_US')">Englisch</a> | <a href="" ng-click="changeLang('de_DE')">German</a>
            </ul>
        </footer>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/angular-vibrator/src/vibrator.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/lib/cordova.js"></script>
    <script src="scripts/fix/scale.fix.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/lang.js"></script>
    <script src="scripts/directives/mouseover.js"></script>
    <script src="scripts/services/cordova.js"></script>
    <script src="scripts/services/geolocation.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/controllers/vibration.js"></script>
    <script src="scripts/controllers/cordovaCtrl.js"></script>
    <!-- endbuild -->

    <link href='scripts/lib/mapbox-gl.css' rel='stylesheet' />
    <script src="scripts/lib/mapbox-gl.js"></script>
    <script src="scripts/lib/javascript.util.js"></script>
    <script src="scripts/lib/jsts.min.js"></script>
    <script src="scripts/lib/turf.min.js"></script>
</body>
</html>
